sudo: false
language: c
compiler: gcc
if: tag IS blank
script: /usr/lib/x86_64-linux-gnu/rerun/travis-ci-modules.sh
notifications:
  irc:
  - irc.freenode.org#rerun
addons:
  apt:
    packages:
    - markdown
    - fakeroot
    - build-essential
    - devscripts
    - autoconf
    - automake
    - dh-make
    - libfile-fcntllock-perl
    - rpm
    - xmlstarlet
    - jq
    - wget
    - zip
    - rerun
    - rerun-bintray
    - iputils-ping
    - netcat-openbsd
    sources:
    - sourceline: deb https://dl.bintray.com/rerun/rerun-deb /
env:
  global:
  - BINTRAY_USER=starlee
  - BINTRAY_ORG=rerun
  - secure: j3vBOxOpscBzyU4KVgGGgwOdVpQu7XKVNRJRNipsVQL4LULdjz8lKVVpuMCBniZ++9BwFt+2PWYfWw5cVxWBcoe5Qf/3IJ4ruOPtcvjrGhN31Cdp/+ST4cLb4VdgU2YXzHlmyFqChblST9nP6EKALG9XOLoSl32QNUJltKMZU2w=
  - secure: AvUQ26OMjKHK+KlC/2mdiTv62kvMfXgjHEW0fNLBDNbpQLvXiQytlhQ84LjPH1jGrs2RfjQ2g20btiqoSVWXoFQiq556CvrEI3muObES7rI6nkQJi3r+7/RfoNQ7SGPSMqDaViL7AVuT8ZexV+ADs2UhEruOMERJw8KSRkGkMGY=
